<div class="container">
  <h3>Demo de upload de arquivos</h3>
  <div class="row">
    <form (ngSubmit)="aoEnviar($event)">
      <label for="arquivos" class="form-label"> Selecione um arquivo: </label>
      <input
        type="file"
        id="arquivos"
        (change)="onFileChange($event)"
        accept="image/*"
        class="form-control"
      />
      <button type="submit" class="btn btn-primary form-control mt-3">
        Enviar arquivo
      </button>
    </form>
  </div>
</div>
<router-outlet />
